<div class="row container" data-id="<%= current_user.id %>">

	<div class="new_outing small-4 columns">	

		<form>
			<label> Select Outing Location </label>
			<input type="text" id="location" placeholder="City">
			<div class="row">
				<div class="small-7 columns">
					<input type="date" id="start_date"> 
				</div>
				<div class="small-5 columns">
					<input type="time" id="start_time">
				</div>
			</div>
			<div class="row">
				<div class="small-7 columns">
					<input type="date" id="end_date"> 
				</div>
				<div class="small-5 columns">
					<input type="time" id="end_time">
				</div>
			</div>
			<div id="outing_name">
				<label> Name your Outing </label>
				<input type="text" placeholder="">
			</div>
			<div class="button small search"> Search</div>
			<div class="button small save_location"></div>
		</form>

			<%=link_to 'Show Outings', user_path(current_user) %>
	</div>

	<div class='small-4 columns'>
		<div class='row new_outing_info'>
		
		</div>
		
		<div class='row'>	
			<div class="new_activity_info columns">
				<!-- new activity goes here -->
			</div>
		</div>	

		<div class="row">
			<div class="button send-email"> See my mappetite! </div>
	 	</div>
	</div>

	<div class="small-8 columns" id="map">
		<!-- map goes here -->
	</div>

</div>