<div class="row container" data-id="<%= current_user.id %>">

	<div class="small-4 columns">	

		<form>
			<input type="text" id="location" placeholder="City, ST">
			<span><div class="button small save_location"></div></span>
			<input type="text" label="Outing Name:" id="outing_name" placeholder="">
		</form>

			<%=link_to 'Show Outings', user_path(current_user) %>
	</div>	


	<div class="small-8 columns" id="map">
		<!-- map goes here -->
	</div>

</div>