<div class="row first">
  <div class="small-12 centered columns">
  <h1 class="icon">&#8984;</h1>
<h2 class="sub-logo">Mappetize your plans.</h2>
	   <% if !user_signed_in? %>
            <ul class="stack-for-medium round secondary button-group even-2">
			  <li class="button left-side">
			    <%= link_to "SIGN IN", new_user_session_path %></li>	
			  <li class="button right-side">
				<%= link_to "REGISTER", new_user_registration_path%></li>
		    </ul>
         </div>
	   <% else %>
		    <ul class="stack-for-medium round secondary button-group even-2">
			   <li class="button left-side">
		      		<%= link_to "SHOW MY OUTINGS", user_path(current_user)%></li>
			   <li class="button right-side">
					<%= link_to "CREATE AN OUTING", outings_path%></li>	
		  	</ul>
       <% end %>
  </div>
</div>