<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>

		<h1>Dear friend,</h1>
		<p>I'd like you to join me on an awesome adventure!</p>
		<p>Here's the link for more info: <%= @outing_link %> </p>
		<p>Hope you can make it,</p>
		<p> <%= @user.email %> </p>

	</body>
</html>