#map{
	height: 400px;
	width: 50%;
	border-radius: 10px;
	margin-top: 100px;
	position: fixed;
	right: 50px;
}

.save_location{
	height: 50px;
}

.email-form{
	width: 30%;
	padding: 30px;
	background: #00ffff;
	.emails-input{
		width: 100%;
	}
}



