*{
	box-sizing:border-box;
}

html, body{
	height: 100%;
}

#map{
	// width: 50%;
	height: 500px;
}

.wrapper{
	min-height: 100%;
	background: url(/assets/map_icon.png) no-repeat;
	background-size: 80%;
	background-position: 10% 0;
}

// img {
// 	margin: 0 auto;
// 	right: 50px;
// }

// .logo{
// 	padding: .5em;
// }

.sub-logo{
	margin: auto;
	text-align: center;
	padding: .5em;
	font-size: 2.5em;
	font-family: 'Coming Soon';
	width: 50%;
	text: justify;
}

.footer-area{
	background-color: #333333;
	color: white;
	font-family: "Helvetica Neue";
	font-size: rem-calc(13);
}

.logo{
	margin: auto;
	text-align: center;
	padding: 1em .5em .5em .5em;
	font-size: 4em;
}

.button-group{
	text-align:center;
	margin: .3em;
	padding: .5em;
	margin-top: 25%;
}

// .space{
// 	padding: .3em 0em .3em 1em;
// }

.new_outing_info{
	display: hidden;
}

.new_outing_info.active{
	display: block;
}