*{
	box-sizing:border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body{
	height: 100%;
}

#awesome{
	padding-top: 150px;
}

.icon{
	color: #ff00ff;
	text-align: center;
	font-size: 22em;
	line-height: .8em;
	padding: .3em 0em .1em 0em;
	margin: 0;
}

.side_box{
	padding-top: 300px;
}

#map{
	height: 300px;
	border-radius: 50%;
	padding-top: 150px;
}

/*.logo{
	color: #00ffff
}*/

/*.logo-name{
	color: #ffff00;
}*/

.sub-logo{
	margin: auto;
	text-align: center;
	padding: .3em 0 1.5em 0;
	font-size: 2.5em;
	font-family: 'Open Sans', sans-serif;
	width: 50%;
	text: justify; 
}

.footer-area{
	width: 100%;
	background-color: #333333;
	ul{
		text-align: center;
		margin-bottom: 0;
	}
ul li{
		color: white;
		font-family: "Helvetica Neue";
		line-height: 4em;
		display: inline-block;
		font-size: .8em;
		padding: 0 .5em;
	}
}

li.button{
	color: #ffffff;
	background-color: #000000;
	font-weight: bold;
}

.button a{
	color: #ffffff;
	font-weight: bold;
	font-size: 1.5em;
	background-color: #000000;
}

.button.right-side a{
	color: #ffffff;
	background-color: #00000;
}

.button.right-side{
	background-color: #000000;	
}

.button-group{
	text-align:center;
	margin: 0;
	padding: .5em 0 0 0;
	padding-bottom: 1.5em;
}

.new_outing_info{
	display: hidden;
}

.new_outing_info.active{
	display: block;
}

.wrapper{
	min-height: 100%;
	// background: url(/assets/world_map2.jpg) no-repeat;
	background-size: 80%;
	background-position: 10% 0;
}